.listItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 12px 0;
    background-color: #595358;
}

.name {
    width: 50%;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

.name h4{
    margin: 0;
    padding-bottom: 5px;
}

.count{
    display: flex;
    flex-direction: column;
}