input[type=text], input[type=password] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
.form{
  padding: 10px;
  border-radius: 3px;
}
.form_row{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: .5em;
}
/* .form_row > input{
padding: .5em;
} */

.form_row > label {
  padding-bottom: 10px;
}

.form  button {
  display: block;
  width: 50%;
  margin: 15px auto;
  padding: 10px;
  font-weight: 700;
  background-color: #fff;
  color: rgb(0, 1, 69);
  border: 2px solid rgb(0, 1, 69);
  border-radius: 8px;
}

.login {
  display: block;
  color: #fff;
  text-decoration: none;
  padding-top: 15px;
}

.login:hover {
  text-decoration: underline;
}