.dashboard{
    background-color: #6B668E;
    color: white;
    min-height: caLc(100vh - 98px);
    max-width: 100%;
    padding: 20px;

    text-align: center;
}

h2, p{
    margin: 0;
}

.link{
    size: 5em;
    margin: 25px auto 10px auto;
    max-width: 150px;
    display: block;
    border: .1em solid white;
    background-color: tomato;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 8px;
}

ul{
    list-style: none;
    padding: 0;
    border: 1px solid #fff;
    border-radius: 8px;
    max-width: 500px;
    margin: 0 auto 10px auto;
}

ul li {
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 15px;
}

ul li {
    padding-top: 15px;
}

ul > li:first-child {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

ul > li:last-child {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}