.header_container {
  background-color: #595358;
  text-align: center;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 5px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.greeting {
  display: block;
  color: #ED9C5D;
}

.nav_links,
.nav_links_1,
.nav_links_2 {
  text-decoration: none;
  color: #ED9C5D;
}

.title_text {
  text-decoration: none;
  color: #ED9C5D;
}

@media all and (min-width: 650px) {
  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  .title {
    margin-left: 25px;
  }

  .nav {
    height: 100%;
    position: relative;
    display:flex;
    flex-direction: column;
    flex: 1;
    margin-right: 25px;
    align-items: flex-end;
  }

  .nav_links_1 {
    position: absolute;
    top: 10px;
    right: 0px;
  }

  .nav_links_2 {
    position: absolute;
    bottom: 10px;
    right: 0px;
  }

  .nav_links {
    position: absolute;
    bottom: 10px;
    align-content: center;
  }

  .nav_links:first-child {
    margin-right: 25px;
  }

  .nav_greeting {
    flex: 1;
    display: flex;
    position: relative;
    height: 100%;
    flex-direction: column;
    justify-content: center;;
    align-self: center;
  }

  .greeting {
    position: absolute;
    top: 10px;
    right: 25px;
  }

  .nav_greeting .nav_links {
    margin: 0;
  }

}