.header_container {
  background-color: #595358;
  text-align: center;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 5px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.greeting {
  color: #ED9C5D;
}

.nav_links {
  text-decoration: none;
  color: #ED9C5D;
}

.title_text {
  text-decoration: none;
  color: #ED9C5D;
}

@media all and (min-width: 650px) {
  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  .title {
    margin-left: 25px;
  }

  .nav {
    flex: 1;
    margin-right: 25px;
    align-self: flex-end;
    justify-content: flex-end;
  }

  .nav_links:first-child {
    margin-right: 25px;
  }

  .nav_greeting {
    flex: 1;
    display: flex;
    align-self: flex-end;
  }

  .greeting {
    flex: 6;
  }

  .nav_greeting .nav_links {
    margin: 0;
  }

}